  <div class="row">
    <% @bookings.each do |booking| %>
     <div class="col-md-4">
      <div class="booking-card", style="border: solid blue">
          <%= cl_image_tag booking.boat.image.key, height: 180, width: 310, crop: :fill,position: :center %>
          <div class="booking-card-content">
            <%= booking.checkin %>
            <%= booking.checkout %>
            <%= link_to "Delete",booking_path(booking),data: {turbo_method: "delete"}, class: "lrg-blue-btn" %>
          </div>
      </div>
     </div>
    <% end %>
  </div>
